<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url( <%= @island.photo %> );">
</div>


<div class="container mt-3">
  <h1 style="text-align: center;"> <%= @island.name %> </h1>
    <div class="d-flex justify-content-between">
      <div>
        <h5> <%= @island.location %> | <%= @island.difficulty %> </h5>
        <br>
        <h6><strong>Description:</strong></h6>
        <%= @island.activities %>
      </div>

      <div id="booking-card">
        <div class="d-flex justify-content-between">
          <h6> <strong>Price:</strong><h6>
          <h6><%= @island.price %> $/night</h6>
        </div>
        <div class="d-flex justify-content-between">
          <h6> <strong>Size:</strong></h6>
          <h6><%= @island.size %> km²</h6>
        </div>
        <%= render 'bookings/form' %>
        <%#= link_to "Book this island", islands_path, class:"btn btn-primary btn-lg btn-block", id:"btn-booking-card" %>
      </div>
    </div>
</div>

<div class="container d-flex">
  <%= link_to islands_path, class: "btn btn-outline-secondary mr-2" do %>
    Back
  <% end %>
<% if policy(@island).edit? %>
  <%= link_to edit_island_path(@island), class: "btn btn-outline-success" do %>
    Edit
  <% end %>
<% end %>
</div>


<div
  id="map"
  style="width: 100%;
  height: 75vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
