<h2>Hello <%= current_user.username %>, here are your bookings </h2>

<% if !@bookings.empty? %>
<% @bookings.each do |booking|%>
<p>
  <%= 'You have a reservation for' %>
  <%= booking.island.name %>
  <%= 'from' %>
  <% start_date = booking.start_date %>
  <%= start_date.strftime('%d/%m/%y') %>
  <%= 'until' %>
  <% end_date = booking.end_date %>
  <%= end_date.strftime('%d/%m/%y') %>
</p>
<%= link_to "Delete", booking_path(booking), method: :delete %>
<% end %>
<% else %>
<p>No bookings yet</p>


  <div class="card-trip">
    <%= booking.island.photo %>
    <div class="card-trip-infos">
      <div>
        <h2>Title here</h2>
        <p>Short description here!</p>
      </div>
      <h2 class="card-trip-pricing">£99.99</h2>
      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
    </div>
  </div>
<% end %>
